.st204 {
  opacity: 0.6;
  fill: url(#SVGID_98_);
}

.st205 {
  opacity: 0.6;
  fill: url(#SVGID_99_);
}
.st206 {
  opacity: 0.6;
  fill: url(#SVGID_100_);
}

.st208 {
  opacity: 0.6;
  fill: url(#SVGID_102_);
}

.st209 {
  opacity: 0.6;
  fill: url(#SVGID_103_);
}
.st210 {
  opacity: 0.6;
  fill: url(#SVGID_104_);
}

.st211 {
  opacity: 0.6;
  fill: url(#SVGID_105_);
}
.st212 {
  opacity: 0.6;
  fill: url(#SVGID_106_);
}
.st213 {
  opacity: 0.6;
  fill: url(#SVGID_107_);
}
.st214 {
  opacity: 0.6;
  fill: url(#SVGID_108_);
}
.st215 {
  fill: url(#SVGID_109_);
}
.st216 {
  fill: url(#SVGID_110_);
}
.st217 {
  fill: url(#SVGID_111_);
}
.st218 {
  fill: url(#SVGID_112_);
}
.st219 {
  fill: url(#SVGID_113_);
}
.st220 {
  fill: url(#SVGID_114_);
}
