/* orange candle base */
.st197 {
  /* orange top */
  fill: url(#SVGID_91_);
}
.st196 {
  /* orange mid */
  fill: url(#SVGID_90_);
}
.st198 {
  /* orange bottom */
  fill: url(#SVGID_92_);
}

/* yellow candle base */
.st194 {
  /* yellow top */
  fill: url(#SVGID_88_);
}
.st193 {
  /* yellow mid */
  fill: url(#SVGID_87_);
}
.st195 {
  /* yellow bottom */
  fill: url(#SVGID_89_);
}

/* green candle base */
.st191 {
  /* green top */
  fill: url(#SVGID_85_);
}
.st190 {
  /* green mid */
  fill: url(#SVGID_84_);
}
.st192 {
  /* green bottom */
  fill: url(#SVGID_86_);
}

/* teal candle base */
.st179 {
  /* teal base top */
  fill: url(#SVGID_73_);
}
.st178 {
  /* teal base mid */
  fill: url(#SVGID_72_);
}
.st180 {
  /* teal base bottom */
  fill: url(#SVGID_74_);
}

/* light blue candle base */
.st182 {
  /* light blue top */
  fill: url(#SVGID_76_);
}
.st181 {
  /* light blue mid */
  fill: url(#SVGID_75_);
}
/* light blue bottom */
.st183 {
  fill: url(#SVGID_77_);
}

/* dark blue candle base */
.st185 {
  /* dark blue top */
  fill: url(#SVGID_79_);
}
.st184 {
  /* dark blue mid */
  fill: url(#SVGID_78_);
}
.st186 {
  /* dark blue bottom */
  fill: url(#SVGID_80_);
}

/* purple candle base */
.st188 {
  /* purple top */
  fill: url(#SVGID_82_);
}
.st187 {
  /* purple mid */
  fill: url(#SVGID_81_);
}
.st189 {
  /* purple bottom */
  fill: url(#SVGID_83_);
}
