/* Stem and base */

.st112 {
  fill: none;
  stroke: #b59944;
  stroke-width: 21.7119;
  stroke-miterlimit: 10;
}

.st113 {
  fill: none;
  stroke: #b59944;
  stroke-width: 21.4335;
  stroke-miterlimit: 10;
}

.st114 {
  fill: none;
  stroke: #b69a45;
  stroke-width: 21.1551;
  stroke-miterlimit: 10;
}

.st115 {
  fill: none;
  stroke: #b79a45;
  stroke-width: 20.8768;
  stroke-miterlimit: 10;
}
.st116 {
  fill: none;
  stroke: #b89b45;
  stroke-width: 20.5984;
  stroke-miterlimit: 10;
}
.st117 {
  fill: none;
  stroke: #b89c46;
  stroke-width: 20.3201;
  stroke-miterlimit: 10;
}
.st118 {
  fill: none;
  stroke: #b99c46;
  stroke-width: 20.0417;
  stroke-miterlimit: 10;
}
.st119 {
  fill: none;
  stroke: #ba9d46;
  stroke-width: 19.7634;
  stroke-miterlimit: 10;
}
.st120 {
  fill: none;
  stroke: #bb9d47;
  stroke-width: 19.485;
  stroke-miterlimit: 10;
}
.st121 {
  fill: none;
  stroke: #bb9e47;
  stroke-width: 19.2066;
  stroke-miterlimit: 10;
}
.st122 {
  fill: none;
  stroke: #bc9f47;
  stroke-width: 18.9283;
  stroke-miterlimit: 10;
}
.st123 {
  fill: none;
  stroke: #bd9f47;
  stroke-width: 18.6499;
  stroke-miterlimit: 10;
}
.st124 {
  fill: none;
  stroke: #bea048;
  stroke-width: 18.3716;
  stroke-miterlimit: 10;
}
.st125 {
  fill: none;
  stroke: #bea048;
  stroke-width: 18.0932;
  stroke-miterlimit: 10;
}
.st126 {
  fill: none;
  stroke: #bfa148;
  stroke-width: 17.8149;
  stroke-miterlimit: 10;
}
.st127 {
  fill: none;
  stroke: #c0a248;
  stroke-width: 17.5365;
  stroke-miterlimit: 10;
}
.st128 {
  fill: none;
  stroke: #c0a249;
  stroke-width: 17.2581;
  stroke-miterlimit: 10;
}
.st129 {
  fill: none;
  stroke: #c1a349;
  stroke-width: 16.9798;
  stroke-miterlimit: 10;
}
.st130 {
  fill: none;
  stroke: #c2a349;
  stroke-width: 16.7014;
  stroke-miterlimit: 10;
}
.st131 {
  fill: none;
  stroke: #c3a44a;
  stroke-width: 16.4231;
  stroke-miterlimit: 10;
}
.st132 {
  fill: none;
  stroke: #c3a54a;
  stroke-width: 16.1447;
  stroke-miterlimit: 10;
}
.st133 {
  fill: none;
  stroke: #c4a54a;
  stroke-width: 15.8664;
  stroke-miterlimit: 10;
}
.st134 {
  fill: none;
  stroke: #c5a64a;
  stroke-width: 15.588;
  stroke-miterlimit: 10;
}
.st135 {
  fill: none;
  stroke: #c6a64b;
  stroke-width: 15.3096;
  stroke-miterlimit: 10;
}
.st136 {
  fill: none;
  stroke: #c6a74b;
  stroke-width: 15.0313;
  stroke-miterlimit: 10;
}
.st137 {
  fill: none;
  stroke: #c7a84b;
  stroke-width: 14.7529;
  stroke-miterlimit: 10;
}
.st138 {
  fill: none;
  stroke: #c8a84c;
  stroke-width: 14.4746;
  stroke-miterlimit: 10;
}
.st139 {
  fill: none;
  stroke: #c9a94c;
  stroke-width: 14.1962;
  stroke-miterlimit: 10;
}
.st140 {
  fill: none;
  stroke: #c9a94c;
  stroke-width: 13.9179;
  stroke-miterlimit: 10;
}
.st141 {
  fill: none;
  stroke: #caaa4c;
  stroke-width: 13.6395;
  stroke-miterlimit: 10;
}
.st142 {
  fill: none;
  stroke: #cbab4d;
  stroke-width: 13.3611;
  stroke-miterlimit: 10;
}
.st143 {
  fill: none;
  stroke: #cbab4d;
  stroke-width: 13.0828;
  stroke-miterlimit: 10;
}
.st144 {
  fill: none;
  stroke: #ccac4d;
  stroke-width: 12.8044;
  stroke-miterlimit: 10;
}
.st145 {
  fill: none;
  stroke: #cdac4d;
  stroke-width: 12.5261;
  stroke-miterlimit: 10;
}
.st146 {
  fill: none;
  stroke: #cead4e;
  stroke-width: 12.2477;
  stroke-miterlimit: 10;
}
.st147 {
  fill: none;
  stroke: #cead4e;
  stroke-width: 11.9694;
  stroke-miterlimit: 10;
}
.st148 {
  fill: none;
  stroke: #cfae4e;
  stroke-width: 11.691;
  stroke-miterlimit: 10;
}
.st149 {
  fill: none;
  stroke: #d0af4f;
  stroke-width: 11.4126;
  stroke-miterlimit: 10;
}
.st150 {
  fill: none;
  stroke: #d1af4f;
  stroke-width: 11.1343;
  stroke-miterlimit: 10;
}
.st151 {
  fill: none;
  stroke: #d1b04f;
  stroke-width: 10.8559;
  stroke-miterlimit: 10;
}
.st152 {
  fill: none;
  stroke: #d2b04f;
  stroke-width: 10.5776;
  stroke-miterlimit: 10;
}
.st153 {
  fill: none;
  stroke: #d3b150;
  stroke-width: 10.2992;
  stroke-miterlimit: 10;
}
.st154 {
  fill: none;
  stroke: #d4b250;
  stroke-width: 10.0209;
  stroke-miterlimit: 10;
}
.st155 {
  fill: none;
  stroke: #d4b250;
  stroke-width: 9.7425;
  stroke-miterlimit: 10;
}
.st156 {
  fill: none;
  stroke: #d5b350;
  stroke-width: 9.4641;
  stroke-miterlimit: 10;
}
.st157 {
  fill: none;
  stroke: #d6b351;
  stroke-width: 9.1858;
  stroke-miterlimit: 10;
}
.st158 {
  fill: none;
  stroke: #d6b451;
  stroke-width: 8.9074;
  stroke-miterlimit: 10;
}
.st159 {
  fill: none;
  stroke: #d7b451;
  stroke-width: 8.6291;
  stroke-miterlimit: 10;
}
.st160 {
  fill: none;
  stroke: #d8b551;
  stroke-width: 8.3507;
  stroke-miterlimit: 10;
}
.st161 {
  fill: none;
  stroke: #d9b652;
  stroke-width: 8.0724;
  stroke-miterlimit: 10;
}
.st162 {
  fill: none;
  stroke: #d9b652;
  stroke-width: 7.794;
  stroke-miterlimit: 10;
}
.st163 {
  fill: none;
  stroke: #dab752;
  stroke-width: 7.5156;
  stroke-miterlimit: 10;
}
.st164 {
  fill: none;
  stroke: #dbb752;
  stroke-width: 7.2373;
  stroke-miterlimit: 10;
}
.st165 {
  fill: none;
  stroke: #dcb853;
  stroke-width: 6.9589;
  stroke-miterlimit: 10;
}
.st166 {
  fill: none;
  stroke: #dcb853;
  stroke-width: 6.6806;
  stroke-miterlimit: 10;
}
.st167 {
  fill: none;
  stroke: #ddb953;
  stroke-width: 6.4022;
  stroke-miterlimit: 10;
}
.st168 {
  fill: none;
  stroke: #deba54;
  stroke-width: 6.1239;
  stroke-miterlimit: 10;
}
.st169 {
  fill: none;
  stroke: #dfba54;
  stroke-width: 5.8455;
  stroke-miterlimit: 10;
}
.st170 {
  fill: none;
  stroke: #dfbb54;
  stroke-width: 5.5671;
  stroke-miterlimit: 10;
}
.st171 {
  fill: none;
  stroke: #e0bc54;
  stroke-width: 5.2888;
  stroke-miterlimit: 10;
}
.st172 {
  fill: none;
  stroke: #e1bc55;
  stroke-width: 5.0104;
  stroke-miterlimit: 10;
}
.st173 {
  fill: none;
  stroke: #e2bd55;
  stroke-width: 4.7321;
  stroke-miterlimit: 10;
}
.st174 {
  fill: none;
  stroke: #e3be55;
  stroke-width: 4.4537;
  stroke-miterlimit: 10;
}
.st175 {
  fill: none;
  stroke: #e4bf56;
  stroke-width: 4.1754;
  stroke-miterlimit: 10;
}
.st176 {
  fill: none;
  stroke: #e6c056;
  stroke-width: 3.897;
  stroke-miterlimit: 10;
}
.st177 {
  fill: none;
  stroke: #e7c157;
  stroke-width: 3.6186;
  stroke-miterlimit: 10;
}

.st207 {
  opacity: 0.6;
  fill: url(#SVGID_101_);
}

.st199 {
  fill: url(#SVGID_93_);
}

/* BASE */
.st200 {
  /* Base D */
  fill: url(#SVGID_94_);
}

.st201 {
  /* Base C */
  fill: url(#SVGID_95_);
}

.st202 {
  /* Base B */
  fill: url(#SVGID_96_);
}

.st203 {
  /* Base A */
  fill: url(#SVGID_97_);
}
